@inject ProtectedLocalStorage ProtectedLocalStore
@inject GameRound currentRound
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@code {
    MarkupString _tableHTML;

    void DrawTable()
    {
        string html = "";
        for (uint i = 0; i < currentRound.attempt_count; i++)
        {
            html += $"<tr>{GetRow(i)}</tr>";
        }

        _tableHTML = new MarkupString(html);
    }

    string GetRow(uint row)
    {
        string rstr = "";
        for (uint i = 0; i < GameRound.PegWidth; i++)
        {
            rstr += GetPeg(currentRound.attempts[row, i]);
        }
        return rstr;
    }

    string GetPeg(Peg p)
    {
        return $"<td style=\"background-color:{p.ToString()}\"></td>";
    }

    public void ForceDraw(GameRound _currentRound)
    {
        currentRound = _currentRound;
        DrawTable();
        StateHasChanged();
    }
}

<table class="table table-hover">
    <thead>
        <tr>
            @{
                for (int i = 0; i < GameRound.PegWidth; i++)
                {
                    <th scope="col">Peg @i</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @_tableHTML
    </tbody>
</table>