@page "/"
@inject ProtectedLocalStorage ProtectedLocalStore
@inject GameRound currentRound
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json

@code{
    PegView pegView;
    PegInput pegInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var store = await ProtectedLocalStore.GetAsync<String>("round");

            if (store.Value == null)
            {
                currentRound = new GameRound();

                currentRound.GetNewAttempt();
                currentRound.attempt_count++;
                currentRound.GetNewAttempt();
                currentRound.attempt_count++;

                await ProtectedLocalStore.SetAsync("round",JsonConvert.SerializeObject(currentRound));
            }
            else
            {
                currentRound = JsonConvert.DeserializeObject<GameRound>(store.Value);
            }

            pegView.ForceDraw(currentRound);
            StateHasChanged();
        }
    }
}

<div class="row">
    <div class="col-sm-6">
        <PegView @ref="pegView"></PegView>
        <button type="button" class="btn btn-success">Success</button>
    </div>
    <div class="col-sm-6">
        <p>You are on attempt: @currentRound.attempt_count</p>
        <PegInput @ref="pegInput"></PegInput>
    </div>
</div>
